@model MVC_Tutorial.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Emp Details</h2>

<table border="1">
    <tr>
        <td>EmpId</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
</table>

